<header id="header">
  <h1 class="site-title">
    <a href="/">Portfolio</a>
  </h1>
  <nav>
    <ul>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#work_history">Work History</a></li>
      <li><a href="#skill">Skill</li>
      <li><a href="#works">Works</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </nav>
</header>
