<header>
  <nav>
    <ul>
      <li><%= link_to "profile", '#' %></li>
      <li><%= link_to "work history", '#' %></li>
      <li><%= link_to "skill", '#' %></li>
      <li><%= link_to "works", '#' %>
    </ul>
  </nav>
</header>
