<header>
  <h1>
    <a href="/">Portfolio</a>
  </h1>
  <nav class="pc_nav">
    <ul>
      <li><a href="#profile">profile</a></li>
      <li><a href="#work_history">work history</a></li>
      <li><a href="#skill">skill</li>
      <li><a href="#works">works</a></li>
    </ul>
  </nav>
</header>
