<section id="plofile" class="wrapper">
  <h2 class="sec-title">Plofile</h2>
  <%= image_tag 'programing.png', width: '10%', height: '10%' %>
  <ul>
    <li>aaa name</li>
    <li>xxxxxx Bulding x-x-x Izumo, Shimane, 000-0000 Japan</li>
    <li>tel: 000-0000-0000-</li>
    <li>mail: aaa@aaaa.jp</li>
  </ul>
  <p>
    プロフィールテキストテキストテキストテキストテキストテキストテキストテキストテキストスト
    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  </p>
</section>
