<section id="plofile" class="wrapper">
  <h1>PLOFILE</h1>
  <div class="flex">
    <%= image_tag 'programing.png', width: '10%', height: '10%' %>
    <div class="right">
      <p class="text">
        名前：清水美佑<br>
        出身：島根<br>
        趣味：寝ること<br>
      </p>
    </div>
  </div>
</section>
