<section id="skill" class="wrapper">
  <h2 class="sec-title">Skill</h2>
  <div class="flex">
    <ul>
      <li>言語</li>
      <% @pg_language.each do |pg_language|%>
        <li><%= pg_language %></li>
      <% end %>
    </ul>
    <ul>
      <li>資格</li>
      <% @qualifications.each do |qualification|%>
        <li><%= qualification %></li>
      <% end %>
    </ul>
    <ul>
      <li>ツール</li>
      <% @tools.each do |tool|%>
        <li><%= tool %></li>
      <% end %>
    </ul>
  </div>
</section>
