<section id="skill" class="wrapper">
  <h2 class="sec-title">Skill</h2>
  <div class="flex">
    <table>
      <thead>
        <tr>
          <th>言語</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ruby</td>
        </tr>
        <tr>
          <td>Ruby on Rails</td>
        </tr>
        <tr>
          <td>Java Script</td>
        </tr>
        <tr>
          <td>Java</td>
        </tr>
        <tr>
          <td>React</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>資格</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ruby Silver</td>
        </tr>
        <tr>
          <td>Ruby Gold</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>ツール</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>git</td>
        </tr>
        <tr>
          <td>slack</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
