<section id="skill" class="wrapper">
  <h2 class="sec-title">Skill</h2>
  <div class="flex">
    <ul>
      <li>言語</li>
      <li>Ruby<li>
      <li>Ruby on Rails</li>
      <li>Java</li>
      <li>Java Script</li>
      <li>React</li>
    </ul>
    <ul>
      <li>資格</li>
      <li>Ruby Silver<li>
      <li>Ruby Gold</li>
    </ul>
    <ul>
      <li>ツール</li>
      <li>Git / GitHub<li>
      <li>Slack</li>
      <li>Docker</li>
    </ul>
  </div>
</section>
