<skill>
<html lang="ja">
  <h1>SKILL</h1>
  <body>
      <table>
        <thead>
          <tr>
            <th>言語</th>
            <th></th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td>Ruby on Rails</td>
          <td>★★☆☆☆</td>
        </tr>
        <tr>
          <td>Java Script</td>
          <td>★★☆☆☆</td>
        </tr>
        <tr>
          <td>Java</td>
          <td>★★☆☆☆</td>
        </tr>
        <tr>
          <td>React</td>
          <td>★★☆☆☆</td>
        </tr>
      </tbody>

      <table>
        <thead>
          <tr>
            <th>資格</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td>Ruby Silver</td>
        </tr>
        <tr>
          <td>Ruby Gold</td>
        </tr>
      </tbody>
    </table>
  </body>
</skill>
