<work_history>
<html lang="ja">
  <h1>WORK HISTORY</h1>
  <body>
      <table>
        <thead>
          <tr>
            <th>システム名</th>
            <th>作業内容</th>
            <th>言語</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <td>System 1</td>
          <td>製造, テスト</td>
          <td>React, Ruby on Rails</td>
        </tr>
        <tr>
          <td>System 2</td>
          <td>テスト</td>
          <td>Ruby on Rails</td>
        </tr>
      </tbody>
    </table>
  </body>
</work_history>
