<section id="work_history" class="wrapper">
  <h1>WORK HISTORY</h1>
  <div class="flex">
    <%= image_tag 'step.png', width: '10%', height: '10%' %>
    <div class="right">
      <table>
        <thead>
          <tr>
            <th>システム名</th>
            <th>作業内容</th>
            <th>言語</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>System 1</td>
            <td>製造, テスト</td>
            <td>React, Ruby on Rails</td>
          </tr>
          <tr>
            <td>System 2</td>
            <td>テスト</td>
            <td>Ruby on Rails</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
