<section id="works" class="wrapper">
  <h2 class="sec-title">Works</h2>
  <% @works.each do |work| %>
    <ul>
      <li><%=image_tag work[:image_path], width: '70%', height: '85%' %></li>
      <li>
        システム名：<%= link_to(work[:name], work[:url])%><br>
        業務：<%= work[:job_description] %><br>
        言語：<%= work[:pg_language]%>
      </li>
    </ul>
  <% end %>
</section>
