<section id="work_history" class="wrapper">
  <h2 class="sec-title">Work History</h2>
  <div class="flex">
    <%= image_tag 'step.png', width: '20%', height: '20%' %>
    <div>
      <table>
        <thead>
          <tr>
            <th>システム名</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>System 1</td>
          </tr>
          <tr>
            <td>System 2</td>
          </tr>
          <tr>
            <td>System 3</td>
          </tr>
          <tr>
            <td>System 4</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>作業内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>製造, テスト</td>
          </tr>
          <tr>
            <td>テスト</td>
          </tr>
          <tr>
            <td>バージョンアップ作業</td>
          </tr>
          <tr>
            <td>製造, テスト</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>言語</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>React, Ruby on Rails</td>
          </tr>
          <tr>
            <td>Ruby on Rails</td>
          </tr>
          <tr>
            <td>Ruby on Rails</td>
          </tr>
          <tr>
            <td>Ruby on Rails</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
