<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
      profile<br>
      work history<br>
      skill<br>
      works<br>
  </body>
  <%= render 'profile' %>
  <%= render 'work_history' %>
  <%= render 'skill' %>
  <%= render 'works' %>
</html>


