<div id="mainvisual">
</div>
<%= render 'profile' %>
<%= render 'skill' %>
<%= render 'works' %>
<section id="contact" class="wrapper">
  <h2 class="sec-title">Contact</h2>
  <form action="#" method="post">
    <dl>
      <dt><label for="name">Name</label></dt>
      <dd><input type="text" id="name" name="your-name"></dd>
      <dt><label for="email">E-mail</label></dt>
      <dd><input type="email" id="email" name="your-email"></dd>
      <dt><label for="message">Message</label></dt>
      <dd><textarea id="message" name="your-message"></textarea></dd>
    </dl>
    <div class="button"><input type="submit" value="送信"></div>
  </form>
</section>
