@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #24292e;
  background-color: #fbfaf5;
}

a {
  text-decoration: none;
  color: #24292e;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

.site-title {
  line-height: 1px;
}

.site-title a {
  display: block;
}

.sec-title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 65px;
}

/*-------------------------------------------------
ヘッダー
-------------------------------------------------*/
#header {
  /* max-width: 960px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #bce2e8;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  font-size: 0.9em;
  margin-left: 30px;
}

#header li a {
  color: #24292e;
}

#header li a:hover {
  opacity: 0.7;
}

#header li img.icon {
  width: 20px;
}

/*---------------------------------------
Profile
---------------------------------------*/
#profile ul {
  margin-bottom: 30px;
}

#profile li:first-child {
  margin-bottom: 30px;
}

#profile p {
  text-align: justify;
}

/*---------------------------------------
Skill
---------------------------------------*/
#skill ul {
  display: block;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#skill li:first-child {
  font-weight: bold;
  margin-bottom: 20px;
}

#skill li {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}


/*---------------------------------------
Works
---------------------------------------*/
#works ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#works li {
  width: 31%;
  margin-bottom: 23px;
}

/*---------------------------------------
Contact
---------------------------------------*/
#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dt {
  width: 15%;
}

#contact dd {
  width: 85%;
  margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}

#contact dd textarea {
  height: 10rem;
}

#contact .button {
  text-align: center;
}

#contact .button input {
  width: 200px;
  background-color: #bce2e8;
  color: #24292e;
  padding: 15px 0;
  border: solid 1px #bce2e8;
}

#contact .button input:hover {
  background: #fff;
  color: #24292e;
}

/*----------------------------------------
フッター
----------------------------------------*/
#footer {
  background-color: #bce2e8;
  color: #24292e;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}

/*---------------------------------------
その他
---------------------------------------*/
.flex {
  display: flex;
  justify-content: space-around;
}

/*---------------------------------------
SP
---------------------------------------*/
@media screen and (max-width: 600px) {
  .wrapper {
    margin-bottom: 70px;
  }
  .site-title {
    margin-top: 20px;
  }
  .sec-title {
    margin-bottom: 40px;
  }

  /*-------------------------------------
  ヘッダー
  -------------------------------------*/
  #header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }
  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }
  #header li:first-child {
    margin-left: 0;
  }

  /*-------------------------------------
  Works
  -------------------------------------*/
  #works ul {
    flex-direction: column;
  }
  #works li {
    width: 100%;
  }

  /*-------------------------------------
  Contact
  -------------------------------------*/
  #contact dl {
    flex-direction: column;
  }
  #contact dt {
    width: 100%;
  }
  #contact dd {
    width: 100%;
  }
}
